* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

:root {

    --white: #fff;
    --grey: #949494;
    --blue-800: #242742;
    --blue-700: #36384d;
    --red: #ff6155;

    --gradient: linear-gradient(to right, #ff6a3a, #ff527b);

    --ff-family: 'Roboto', sans-serif;
    --fs-1: 4rem;
    --fs-2: 5.6rem;
    --fs-3: 1.6rem;
    --fs-4: 1.2rem;

    --fw-bold: 700;

    --lh-loose: 1.5;

    --space-50: 0.8rem;
    --space-100: 1.6rem;
    --space-200: 2.4rem;
    --space-300: 3.6rem;
    --space-400: 4rem;
    --space-500: 4.8rem;
    --space-700: 6.4rem;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--ff-family);
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    background-color: var(--white);
}

picture img{
    width: 100%;
    display: block;
}

button {
    cursor: pointer;
}

.text-preset-1 {
    font-size: var(--fs-1);
    font-weight: var(--fw-bold);
}

.text-preset-2 {
    font-size: 1.4rem;
    font-weight: var(--fw-bold);
    line-height: var(--lh-loose);
}

.text-preset-3 {
    font-size: var(--fs-3);
    line-height: var(--lh-loose);
}

.text-preset-4 {
    font-size: var(--fs-4);
    font-weight: var(--fw-bold);
    line-height: var(--lh-loose);
}

.newsletter__content {
    margin-block: var(--space-400);
    margin-inline: var(--space-200);
    color: var(--blue-800);
}

.newsletter__content h1 {
    margin-block-end: var(--space-200);
    color: var(--blue-800);
}

.newsletter__content p {
    margin-block-end: var(--space-200);
}

.newsletter__content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--space-50);
    margin-block-end: var(--space-200);
}

.newsletter__content li {
    display: flex;
    align-items: center;
    gap: var(--space-100);
}

.newsletter__content form {
    display: flex;
    flex-direction: column;
}

.newsletter__content input, .newsletter__content button, .success-message button {
    padding-inline: var(--space-500);
    padding-block: var(--space-100);
    border-radius: 1rem;
}

.newsletter__content input {
    margin-block-end: var(--space-200);
    border: 1px solid var(--grey);
}

.newsletter__content label {
    margin-block-end: var(--space-50);
    color: var(--blue-800);
}

.newsletter__content button, .success-message button {
    border: none;
    color: var(--white);
    background-color: var(--blue-800);
}

.hidden {
    display: none;
}

.label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 550px) {
    body {
        background-color: var(--blue-700);
    }
    section {
        margin-block-start: var(--space-400);
        padding: var(--space-400);
        border-radius: 1rem;
    }
}

@media (min-width: 1000px) {
    section {
        display: flex;
        flex-direction: row-reverse;
        gap: var(--space-700);
        padding: var(--space-300);
    }
    .newsletter__content h1, 
    .newsletter__content p, 
    .newsletter__content ul {
        margin-block-end: var(--space-300);
    }
}